:root {
  --rad: 50px;
}
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  outline: 5px solid midnightblue;
  border-radius: var(--rad);
  width: 450px;
  height: 650px;
  margin: 20px auto;
  overflow: hidden;
}
.img-container {
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: 30px;
}
.header {
  width: 100%;
  height: 20%;
  border-top-left-radius: var(--rad);
  border-top-right-radius: var(--rad);
}
.photo {
  width: inherit;
  height: inherit;
  border: 12px solid rgb(249, 246, 246);
  border-radius: 50%;
  object-fit: cover;
}
.info-header {
  font-size: 20px;
  color: rgb(0, 0, 0, 0.7);
  margin-top: -10px;
  letter-spacing: 5px;
  text-align: center;
}
.info-main > p {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  background-color: #1b2a4f;
  border-bottom-right-radius: 12%;
  border-bottom-left-radius: 12%;

}
.social-net {
  display: flex;
  justify-content: center;
  margin: 0px 10px;
  padding-top: 7px;
  color: rgb(132, 116, 22);
  font-weight: 700;
  border-right: 1px solid;
  width: 33%;
 }
.city {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.fa {
  margin-right: 10px;
}
.name {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.8;
  font-weight: lighter;
  font-size: 26px;
}
.button {
  padding: 15px;
  width: 27%;
  margin: 30px 165px;
  color: white;
  background-color: rgb(97, 185, 226);
  font-size: 16px;
  font-weight: 600;
  border-radius: 10%;
  border: hidden;
  border-bottom: 3px solid rgb(25, 87, 114);
}
.sum {
  margin-top: -15px;
  margin-left: 11px;
  color: white;
  font-size: 12px;
}
.fa-picture-o,
.fa-heart-o,
.fa-location-arrow {
  margin-top: 20px;
  margin-right: 8px;
  font-size: 30px;
  }
.post-text,
.mess-text,
.favor-text {
  margin-right: 20px;
}
.mess{
  border-right: none;
}